<div class="d-flex justify-content-around mb-6">
    <h1 class="text-center"><a href="/">Chefs</a> | Dishes</h1>
    <a href="newDish" class="btn btn-lg btn-outline-primary">Add a Dish</a>
</div>
<div class="mt-4">
    <h3 class="text-decoration-underline">Yum, take a look at our tasty dishes!</h3>
</div>
<div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @foreach (Dish d in ViewBag.AllDishes)
        {
        <tr>
            <td>@d.DishName</td>
            <td>@d.Creator.ChefFirstName, @d.Creator.ChefLastName</td>
            <td>@d.Tastiness</td>
            <td>@d.Calories</td>
        </tr>
        }
    </table>
</div>